:root {
    --background: linear-gradient( #fcfdb2, #FFAF87);
    --main-text-color: #333;
    --header-bg-color: #444;
    --header-link-color: #fff;
    --footer-bg-color: #444;
    --footer-text-color: #fff;
    --accent-color: #f44336;
    --link-color: #1e90ff;
    --link-hover-color: #ff4500;
    --border-radius: 8px;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: var(--background);
    color: var(--main-text-color);
    line-height: 1.6;
    padding: 0 1rem;
}

header {
    background-color: var(--header-bg-color);
    padding: 1rem;
    text-align: center;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin-bottom: 2rem;
}

header a {
    color: var(--header-link-color);
    text-decoration: none;
    font-size: 1.2rem;
}

header a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

main h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--accent-color);
    text-align: center;
}

main h3 {
    margin-top: 3rem;
}

main section {
    margin-bottom: 2rem;
    text-align: center;
}

main video {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}


main h2 {
    font-size: 1.5rem;
    margin: 3rem;
    color: var(--accent-color);
    text-align: center;
    position: relative;
}

main h2::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: var(--accent-color);
    margin: 0.5rem auto;
    border-radius: var(--border-radius);
}

main p {
    margin-bottom: 1rem;
}

main ul {
    list-style: none;
    margin: 1rem 0;
    padding: 0;
}

main ul li {
    background-color: #eee;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
    border-left: 5px solid var(--accent-color);
    border-radius: var(--border-radius);
}

main ul li strong {
    color: var(--accent-color);
}

footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    text-align: center;
    padding: 1rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin-top: 2rem;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

a {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--link-hover-color);
}

@media (max-width: 768px) {
    body {
        padding: 0 0.5rem;
    }

    main {
        padding: 1rem 0.5rem;
    }

    .navigation {
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation li {
        margin: 10px 0;
    }
}
