footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 5rem;
    border-radius: 2rem;
}

.footer-contenu {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-section p, .footer-section a {
    font-size: 14px;
    color: #ccc;
    text-decoration: none;
}

.footer-section a:hover {
    color: #fff;
    font-size: large;
}

@media (max-width: 768px) {
    .footer-contenu {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin: 20px 0;
    }
}
