:root {
    --nav-bg-color: #333;
    --nav-link-color: #fff;
    --nav-link-hover-color: #ff852f;
    --nav-link-hover-border-color: #f08f65;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--nav-bg-color);
    padding: 2rem;
    list-style: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navigation li {
    margin: 0 2rem;
}

.navigation a {
    position: relative;
    text-decoration: none;
    color: var(--nav-link-color);
    font-size: 16px;
    font-family: monospace, sans-serif;
    padding: 8px 16px;
    border: 4px solid transparent;
    border-radius: 4px;
    transition: color 0.3s ease, transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.navigation a:hover {
    color: var(--nav-link-hover-color);
    border-color: var(--nav-link-hover-border-color);
    box-shadow: 0 0 0 4px rgba(249, 142, 29, 0.586);
    transform: scale(1.05);
}

@media (max-width: 1100px) {
    .navigation {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .navigation li {
        margin: 10px 0;
    }

    .navigation a {
        font-size: 18px;
        padding: 10px 20px;
    }
}
